{%- if cookiecutter.with_postgresql %}
# PostgreSQL database.
POSTGRESQL_SERVER={{ cookiecutter.postgresql_server }}
POSTGRESQL_USER={{ cookiecutter.postgresql_user }}
POSTGRESQL_PASSWORD=your_password
POSTGRESQL_DB_NAME={{ cookiecutter.postgresql_db_name }}
{%- endif %}